# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.venv/
venv/

# Django
*.log
staticfiles/
media/

# Testing / tooling caches
.pytest_cache/
.tox/
.mypy_cache/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Docker
*.pid

